In [1]:
import pingouin as pg
import os
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import statsmodels.api as sm
from statsmodels.stats.anova import AnovaRM 
from statsmodels.stats.multicomp import pairwise_tukeyhsd

c:\Users\Sarah\anaconda3\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(
c:\Users\Sarah\anaconda3\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.4.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
# Read in training data
current_directory = os.getcwd()

# data to read in: SN, BN
data = []

# participants
participants = ('SN001', 'SN002', 'SN003', 'SN004', 'SN005', 'SN006', 'SN007', 'SN008', 'SN009', 'SN010', 'SN012', 'SN013', 'SN014', 'SN015')

SN=0
for p in participants:
    SN = SN+1
    root_subject = os.path.join('data', p)
    control_folders = [f.path for f in os.scandir(root_subject) if f.is_dir() and f.name.startswith('control')]
    BN = 0
    for b in control_folders:
        fb = []
        # uncommnent if you read in everything
        BN = BN+1
        if os.path.isfile(os.path.join(b, 'trials.csv')):
            data_temp = pd.read_csv(os.path.join(b, 'trials.csv'),)
            data_temp.insert(0,'BN', BN)
            data_temp.insert(0,'SN',SN)
            # data_row = [SN, BN, data_temp]
            # data.append(data_row)
            data.append(data_temp)            # pd.concat([data, data_row])
            # print(control_folders)

merged_df = pd.concat(data, ignore_index=True)                        
#merged_df

print(merged_df.describe())

               SN           BN        noise   block        trial          emg  \
count  1120.00000  1120.000000  1120.000000  1120.0  1120.000000  1120.000000
mean      7.50000     2.500000     0.150000     0.0     9.500000     0.500000
std       4.03293     1.118533     0.111853     0.0     5.768857     0.500223
min       1.00000     1.000000     0.000000     0.0     0.000000     0.000000
25%       4.00000     1.750000     0.075000     0.0     4.750000     0.000000
50%       7.50000     2.500000     0.150000     0.0     9.500000     0.500000
75%      11.00000     3.250000     0.225000     0.0    14.250000     1.000000
max      14.00000     4.000000     0.300000     0.0    19.000000     1.000000

             score          soa       gender
count  1120.000000  1120.000000  1120.000000
mean      0.752209     6.410714     0.571429
std       0.129510     2.006039     0.495093
min      -0.070282     1.000000     0.000000
25%       0.664996     5.000000     0.000000
50%       0.781136     7.000000     1.000000
75%       0.857880     8.000000     1.000000
max       0.940684     9.000000     1.000000

In [3]:
grouped = merged_df.groupby(merged_df.emg)
stick_df = grouped.get_group(0)
print(stick_df.describe())

               SN          BN       noise  block       trial    emg  \
count  560.000000  560.000000  560.000000  560.0  560.000000  560.0
mean     7.500000    2.500000    0.150000    0.0    9.500000    0.0
std      4.034733    1.119034    0.111903    0.0    5.771437    0.0
min      1.000000    1.000000    0.000000    0.0    0.000000    0.0
25%      4.000000    1.750000    0.075000    0.0    4.750000    0.0
50%      7.500000    2.500000    0.150000    0.0    9.500000    0.0
75%     11.000000    3.250000    0.225000    0.0   14.250000    0.0
max     14.000000    4.000000    0.300000    0.0   19.000000    0.0

            score         soa      gender
count  560.000000  560.000000  560.000000
mean     0.841555    7.737500    0.571429
std      0.075254    1.218824    0.495314
min     -0.070282    3.000000    0.000000
25%      0.817604    7.000000    0.000000
50%      0.857036    8.000000    1.000000
75%      0.885294    9.000000    1.000000
max      0.940684    9.000000    1.000000

In [4]:
emg_df = grouped.get_group(1)
print(emg_df.describe())

               SN          BN       noise  block       trial    emg  \
count  560.000000  560.000000  560.000000  560.0  560.000000  560.0
mean     7.500000    2.500000    0.150000    0.0    9.500000    1.0
std      4.034733    1.119034    0.111903    0.0    5.771437    0.0
min      1.000000    1.000000    0.000000    0.0    0.000000    1.0
25%      4.000000    1.750000    0.075000    0.0    4.750000    1.0
50%      7.500000    2.500000    0.150000    0.0    9.500000    1.0
75%     11.000000    3.250000    0.225000    0.0   14.250000    1.0
max     14.000000    4.000000    0.300000    0.0   19.000000    1.0

            score         soa      gender
count  560.000000  560.000000  560.000000
mean     0.662863    5.083929    0.571429
std      0.109172    1.744429    0.495314
min     -0.020908    1.000000    0.000000
25%      0.602310    4.000000    0.000000
50%      0.675291    5.000000    1.000000
75%      0.741342    6.000000    1.000000
max      0.871026    9.000000    1.000000

In [5]:
grouped = merged_df.groupby(merged_df.gender)
female_df = grouped.get_group(0)
print(female_df.describe())

               SN        BN      noise  block       trial         emg  \
count  480.000000  480.0000  480.00000  480.0  480.000000  480.000000
mean     6.833333    2.5000    0.15000    0.0    9.500000    0.500000
std      3.439506    1.1192    0.11192    0.0    5.772297    0.500522
min      1.000000    1.0000    0.00000    0.0    0.000000    0.000000
25%      4.000000    1.7500    0.07500    0.0    4.750000    0.000000
50%      7.500000    2.5000    0.15000    0.0    9.500000    0.500000
75%     10.000000    3.2500    0.22500    0.0   14.250000    1.000000
max     11.000000    4.0000    0.30000    0.0   19.000000    1.000000

            score         soa  gender
count  480.000000  480.000000   480.0
mean     0.753801    6.625000     0.0
std      0.140308    1.940934     0.0
min     -0.070282    1.000000     0.0
25%      0.654834    5.000000     0.0
50%      0.792478    7.000000     0.0
75%      0.864339    8.000000     0.0
max      0.929621    9.000000     0.0

In [6]:
grouped = merged_df.groupby(merged_df.gender)
male_df = grouped.get_group(1)
print(male_df.describe())

               SN          BN       noise  block       trial         emg  \
count  640.000000  640.000000  640.000000  640.0  640.000000  640.000000
mean     8.000000    2.500000    0.150000    0.0    9.500000    0.500000
std      4.362308    1.118908    0.111891    0.0    5.770791    0.500391
min      2.000000    1.000000    0.000000    0.0    0.000000    0.000000
25%      4.500000    1.750000    0.075000    0.0    4.750000    0.000000
50%      7.500000    2.500000    0.150000    0.0    9.500000    0.500000
75%     12.250000    3.250000    0.225000    0.0   14.250000    1.000000
max     14.000000    4.000000    0.300000    0.0   19.000000    1.000000

            score         soa  gender
count  640.000000  640.000000   640.0
mean     0.751016    6.250000     1.0
std      0.120879    2.040283     0.0
min      0.201403    1.000000     1.0
25%      0.673313    5.000000     1.0
50%      0.769843    7.000000     1.0
75%      0.851823    8.000000     1.0
max      0.940684    9.000000     1.0

ANOVA - NO IJTERACTION, CAN INVESTIGATE EFFECTS SEPERATELY - can do post hoc tests noise on soa and control type on soa, no post hoc on control type

In [7]:
model = ols('soa ~ C(emg) + C(noise) + C(emg):C(noise) + C(gender) + C(emg):C(gender) + C(gender):C(noise)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

                         sum_sq      df           F         PR(>F)
C(emg)              1971.603571     1.0  931.338377  6.319385e-149
C(noise)             136.907143     3.0   21.557220   1.423787e-13
C(gender)             38.571429     1.0   18.220220   2.136300e-05
C(emg):C(noise)        7.617857     3.0    1.199498   3.087387e-01
C(emg):C(gender)       0.602679     1.0    0.284691   5.937501e-01
C(gender):C(noise)     4.297024     3.0    0.676604   5.664367e-01
Residual            2343.471726  1107.0         NaN            NaN

In [8]:
model = ols('score ~ C(emg) + C(noise) + C(emg):C(noise) + C(gender) + C(emg):C(gender) + C(gender):C(noise)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

                      sum_sq      df            F         PR(>F)
C(emg)              8.940624     1.0  1034.739700  7.828254e-161
C(noise)            0.204841     3.0     7.902394   3.226441e-05
C(gender)           0.002128     1.0     0.246295   6.197948e-01
C(emg):C(noise)     0.019302     3.0     0.744634   5.255444e-01
C(emg):C(gender)    0.021655     1.0     2.506281   1.136789e-01
C(gender):C(noise)  0.015234     3.0     0.587709   6.231250e-01
Residual            9.564986  1107.0          NaN            NaN

In [9]:
model = ols('score ~ C(soa)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

             sum_sq      df          F         PR(>F)
C(soa)     7.771683     8.0  98.143475  2.245415e-123
Residual  10.997088  1111.0        NaN            NaN

In [10]:
model = ols('score ~ C(soa)', data=emg_df).fit()
sm.stats.anova_lm(model, typ=2)

            sum_sq     df          F        PR(>F)
C(soa)    1.244575    8.0  15.821704  4.417840e-21
Residual  5.417881  551.0        NaN           NaN

In [11]:
model = ols('score ~ C(soa)', data=stick_df).fit()
sm.stats.anova_lm(model, typ=2)

            sum_sq     df         F    PR(>F)
C(soa)    0.192214    6.0  5.957919  0.000005
Residual  2.973477  553.0       NaN       NaN

In [12]:
model = ols('soa ~ C(BN) + C(noise) + C(BN):C(noise)', data=emg_df).fit()
sm.stats.anova_lm(model, typ=2)

                     sum_sq     df         F    PR(>F)
C(BN)             65.133929    3.0  7.610710  0.000054
C(noise)          66.205357    3.0  7.735903  0.000046
C(BN):C(noise)    17.830357    9.0  0.694475  0.714199
Residual        1551.885714  544.0       NaN       NaN

In [13]:
model = ols('soa ~ C(BN) + C(noise) + C(BN):C(noise)', data=stick_df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq     df          F        PR(>F)
C(BN)            60.576786    3.0  16.181004  4.353000e-10
C(noise)         78.319643    3.0  20.920398  7.699659e-13
C(BN):C(noise)   12.658929    9.0   1.127132  3.412378e-01
Residual        678.857143  544.0        NaN           NaN

Homoscedasticity, or homogeneity of variances, is an assumption of equal or similar variances in different groups being compared. This is an important assumption of parametric statistical tests because they are sensitive to any dissimilarities. Uneven variances in samples result in biased and skewed test results.

In [14]:
pg.homoscedasticity(data=merged_df , dv = 'soa', group = 'noise' , method='levene')

              W      pval  equal_var
levene  0.63849  0.590302       True

In [15]:
pg.homoscedasticity(data=merged_df , dv = 'soa', group = 'emg' , method='levene')

                W          pval  equal_var
levene  96.135604  7.898081e-22      False

If the p-value is less than 0.05, we can reject the null hypothesis and conclude that there is a statistically significant difference for noise levels.

Tukey post hoc test for between noise levels
True - signficant
p-value is adjusted fro multiple comparisons

In [16]:
test = pairwise_tukeyhsd(endog=merged_df['soa'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.1607  0.7714 -0.5908  0.2694   False
1     0.0     0.2   -0.3857  0.0969 -0.8158  0.0444   False
2     0.0     0.3   -0.9250  0.0000 -1.3551 -0.4949    True
3     0.1     0.2   -0.2250  0.5338 -0.6551  0.2051   False
4     0.1     0.3   -0.7643  0.0000 -1.1944 -0.3342    True
5     0.2     0.3   -0.5393  0.0071 -0.9694 -0.1092    True

In [17]:
test = pairwise_tukeyhsd(endog=merged_df['score'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.0030  0.9925 -0.0311  0.0250   False
1     0.0     0.2   -0.0113  0.7294 -0.0393  0.0168   False
2     0.0     0.3   -0.0345  0.0086 -0.0626 -0.0065    True
3     0.1     0.2   -0.0082  0.8743 -0.0363  0.0198   False
4     0.1     0.3   -0.0315  0.0206 -0.0595 -0.0034    True
5     0.2     0.3   -0.0232  0.1436 -0.0513  0.0048   False

In [18]:
test = pairwise_tukeyhsd(endog=merged_df['score'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.0030  0.9925 -0.0311  0.0250   False
1     0.0     0.2   -0.0113  0.7294 -0.0393  0.0168   False
2     0.0     0.3   -0.0345  0.0086 -0.0626 -0.0065    True
3     0.1     0.2   -0.0082  0.8743 -0.0363  0.0198   False
4     0.1     0.3   -0.0315  0.0206 -0.0595 -0.0034    True
5     0.2     0.3   -0.0232  0.1436 -0.0513  0.0048   False

In [19]:
condition1 = ((merged_df['emg'] == 1) & (merged_df['BN'].isin([1, 3]))) | \
             ((merged_df['emg'] == 0) & (merged_df['BN'].isin([2, 4])))
condition1_df = merged_df[condition1]

In [20]:
condition2 = ((merged_df['emg'] == 0) & (merged_df['BN'].isin([1, 3]))) | \
             ((merged_df['emg'] == 1) & (merged_df['BN'].isin([2, 4])))
condition2_df = merged_df[condition2]

In [21]:
model = ols('soa ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition1_df).fit()
sm.stats.anova_lm(model, typ=2)

                     sum_sq     df           F        PR(>F)
C(noise)          86.819643    3.0   12.508861  6.401814e-08
C(BN)            998.391071    3.0  143.846886  1.265855e-68
C(noise):C(BN)    17.501786    9.0    0.840545  5.789194e-01
Residual        1258.571429  544.0         NaN           NaN

In [22]:
model = ols('soa ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition2_df).fit()
sm.stats.anova_lm(model, typ=2)

                     sum_sq     df           F        PR(>F)
C(noise)          54.662500    3.0   10.195870  1.530892e-06
C(BN)           1019.633929    3.0  190.186230  2.492258e-84
C(noise):C(BN)    16.030357    9.0    0.996682  4.415260e-01
Residual         972.171429  544.0         NaN           NaN

In [23]:
model = ols('score ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition1_df).fit()
sm.stats.anova_lm(model, typ=2)

                  sum_sq     df           F        PR(>F)
C(noise)        0.112000    3.0    5.528819  9.595615e-04
C(BN)           4.090622    3.0  201.932004  5.320426e-88
C(noise):C(BN)  0.033072    9.0    0.544191  8.423306e-01
Residual        3.673346  544.0         NaN           NaN

In [24]:
model = ols('score ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition2_df).fit()
sm.stats.anova_lm(model, typ=2)

                  sum_sq     df           F        PR(>F)
C(noise)        0.094869    3.0    3.185592  2.351838e-02
C(BN)           4.882575    3.0  163.951525  1.074271e-75
C(noise):C(BN)  0.055803    9.0    0.624605  7.764477e-01
Residual        5.400216  544.0         NaN           NaN

In [25]:
test = pairwise_tukeyhsd(endog=condition1_df['soa'], groups=condition1_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2    2.4214  0.0000  1.9392  2.9036    True
1       1       3   -0.6500  0.0031 -1.1322 -0.1678    True
2       1       4    2.1786  0.0000  1.6964  2.6608    True
3       2       3   -3.0714  0.0000 -3.5536 -2.5892    True
4       2       4   -0.2429  0.5647 -0.7251  0.2393   False
5       3       4    2.8286  0.0000  2.3464  3.3108    True

In [26]:
test = pairwise_tukeyhsd(endog=condition2_df['soa'], groups=condition2_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2   -2.4857  0.0000 -2.9075 -2.0639    True
1       1       3    0.4214  0.0503 -0.0004  0.8432   False
2       1       4   -2.4571  0.0000 -2.8789 -2.0353    True
3       2       3    2.9071  0.0000  2.4853  3.3289    True
4       2       4    0.0286  0.9981 -0.3932  0.4504   False
5       3       4   -2.8786  0.0000 -3.3004 -2.4568    True

In [27]:
test = pairwise_tukeyhsd(endog=condition1_df['score'], groups=condition1_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2    0.1758  0.0000  0.1502  0.2013    True
1       1       3    0.0132  0.5400 -0.0123  0.0388   False
2       1       4    0.1788  0.0000  0.1533  0.2043    True
3       2       3   -0.1625  0.0000 -0.1881 -0.1370    True
4       2       4    0.0030  0.9901 -0.0225  0.0286   False
5       3       4    0.1656  0.0000  0.1400  0.1911    True

In [28]:
test = pairwise_tukeyhsd(endog=condition2_df['score'], groups=condition2_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2   -0.1869  0.0000 -0.2177 -0.1561    True
1       1       3    0.0032  0.9931 -0.0275  0.0340   False
2       1       4   -0.1833  0.0000 -0.2141 -0.1525    True
3       2       3    0.1901  0.0000  0.1593  0.2209    True
4       2       4    0.0036  0.9907 -0.0272  0.0343   False
5       3       4   -0.1865  0.0000 -0.2173 -0.1558    True