In [1]:
import pingouin as pg
import os
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import statsmodels.api as sm
from statsmodels.stats.anova import AnovaRM 
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
# Read in training data
current_directory = os.getcwd()

# data to read in: SN, BN
data = []

# participants
participants = ('SN001', 'SN002', 'SN003', 'SN004', 'SN005', 'SN006', 'SN007', 'SN008', 'SN009', 'SN010', 'SN012', 'SN013', 'SN014', 'SN015', 'SN016', 'SN017', 'SN018', 'SN019', 'SN020', 'SN021')

SN=0
for p in participants:
    SN = SN+1
    root_subject = os.path.join('data', p)
    control_folders = [f.path for f in os.scandir(root_subject) if f.is_dir() and f.name.startswith('control')]
    BN = 0
    for b in control_folders:
        fb = []
        # uncommnent if you read in everything
        BN = BN+1
        if os.path.isfile(os.path.join(b, 'trials.csv')):
            data_temp = pd.read_csv(os.path.join(b, 'trials.csv'),)
            data_temp.insert(0,'BN', BN)
            data_temp.insert(0,'SN',SN)
            # data_row = [SN, BN, data_temp]
            # data.append(data_row)
            data.append(data_temp)            # pd.concat([data, data_row])
            # print(control_folders)

merged_df = pd.concat(data, ignore_index=True)                        
#merged_df

print(merged_df.describe())

                SN           BN        noise   block        trial  \
count  1600.000000  1600.000000  1600.000000  1600.0  1600.000000
mean     10.500000     2.500000     0.150000     0.0     9.500000
std       5.768084     1.118384     0.111838     0.0     5.768084
min       1.000000     1.000000     0.000000     0.0     0.000000
25%       5.750000     1.750000     0.075000     0.0     4.750000
50%      10.500000     2.500000     0.150000     0.0     9.500000
75%      15.250000     3.250000     0.225000     0.0    14.250000
max      20.000000     4.000000     0.300000     0.0    19.000000

               emg        score          soa       gender
count  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.500000     0.762092     6.376875     0.550000
std       0.500156     0.126755     1.919217     0.497649
min       0.000000    -0.070282     1.000000     0.000000
25%       0.000000     0.684546     5.000000     0.000000
50%       0.500000     0.797219     7.000000     1.000000
75%       1.000000     0.860984     8.000000     1.000000
max       1.000000     0.945181     9.000000     1.000000

In [3]:
grouped = merged_df.groupby(merged_df.emg)
stick_df = grouped.get_group(0)
print(stick_df.describe())

               SN          BN       noise  block       trial    emg  \
count  800.000000  800.000000  800.000000  800.0  800.000000  800.0
mean    10.500000    2.500000    0.150000    0.0    9.500000    0.0
std      5.769889    1.118733    0.111873    0.0    5.769889    0.0
min      1.000000    1.000000    0.000000    0.0    0.000000    0.0
25%      5.750000    1.750000    0.075000    0.0    4.750000    0.0
50%     10.500000    2.500000    0.150000    0.0    9.500000    0.0
75%     15.250000    3.250000    0.225000    0.0   14.250000    0.0
max     20.000000    4.000000    0.300000    0.0   19.000000    0.0

            score         soa      gender
count  800.000000  800.000000  800.000000
mean     0.845088    7.633750    0.550000
std      0.069529    1.193269    0.497805
min     -0.070282    2.000000    0.000000
25%      0.821509    7.000000    0.000000
50%      0.858982    8.000000    1.000000
75%      0.885664    8.250000    1.000000
max      0.945181    9.000000    1.000000

In [4]:
emg_df = grouped.get_group(1)
print(emg_df.describe())

               SN          BN       noise  block       trial    emg  \
count  800.000000  800.000000  800.000000  800.0  800.000000  800.0
mean    10.500000    2.500000    0.150000    0.0    9.500000    1.0
std      5.769889    1.118733    0.111873    0.0    5.769889    0.0
min      1.000000    1.000000    0.000000    0.0    0.000000    1.0
25%      5.750000    1.750000    0.075000    0.0    4.750000    1.0
50%     10.500000    2.500000    0.150000    0.0    9.500000    1.0
75%     15.250000    3.250000    0.225000    0.0   14.250000    1.0
max     20.000000    4.000000    0.300000    0.0   19.000000    1.0

            score         soa      gender
count  800.000000  800.000000  800.000000
mean     0.679096    5.120000    0.550000
std      0.116300    1.668556    0.497805
min     -0.020908    1.000000    0.000000
25%      0.615332    4.000000    0.000000
50%      0.691877    5.000000    1.000000
75%      0.767904    6.000000    1.000000
max      0.879773    9.000000    1.000000

In [5]:
grouped = merged_df.groupby(merged_df.gender)
female_df = grouped.get_group(0)
print(female_df.describe())

               SN          BN       noise  block      trial         emg  \
count  720.000000  720.000000  720.000000  720.0  720.00000  720.000000
mean    10.333333    2.500000    0.150000    0.0    9.50000    0.500000
std      5.777516    1.118811    0.111881    0.0    5.77029    0.500348
min      1.000000    1.000000    0.000000    0.0    0.00000    0.000000
25%      7.000000    1.750000    0.075000    0.0    4.75000    0.000000
50%     10.000000    2.500000    0.150000    0.0    9.50000    0.500000
75%     15.000000    3.250000    0.225000    0.0   14.25000    1.000000
max     19.000000    4.000000    0.300000    0.0   19.00000    1.000000

            score         soa  gender
count  720.000000  720.000000   720.0
mean     0.775959    6.655556     0.0
std      0.124751    1.815778     0.0
min     -0.070282    1.000000     0.0
25%      0.715389    6.000000     0.0
50%      0.814229    7.000000     0.0
75%      0.865717    8.000000     0.0
max      0.929621    9.000000     0.0

In [6]:
grouped = merged_df.groupby(merged_df.gender)
male_df = grouped.get_group(1)
print(male_df.describe())

               SN         BN       noise  block      trial         emg  \
count  880.000000  880.00000  880.000000  880.0  880.00000  880.000000
mean    10.636364    2.50000    0.150000    0.0    9.50000    0.500000
std      5.760052    1.11867    0.111867    0.0    5.76956    0.500284
min      2.000000    1.00000    0.000000    0.0    0.00000    0.000000
25%      5.000000    1.75000    0.075000    0.0    4.75000    0.000000
50%     12.000000    2.50000    0.150000    0.0    9.50000    0.500000
75%     16.000000    3.25000    0.225000    0.0   14.25000    1.000000
max     20.000000    4.00000    0.300000    0.0   19.00000    1.000000

            score         soa  gender
count  880.000000  880.000000   880.0
mean     0.750746    6.148864     1.0
std      0.127323    1.971786     0.0
min      0.201403    1.000000     1.0
25%      0.672842    5.000000     1.0
50%      0.775237    6.000000     1.0
75%      0.855147    8.000000     1.0
max      0.945181    9.000000     1.0

ANOVA - NO IJTERACTION, CAN INVESTIGATE EFFECTS SEPERATELY - can do post hoc tests noise on soa and control type on soa, no post hoc on control type

In [7]:
model = ols('soa ~ C(emg) + C(noise) + C(emg):C(noise) + C(gender) + C(emg):C(gender) + C(gender):C(noise)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

                         sum_sq      df            F         PR(>F)
C(emg)              2527.575625     1.0  1298.210126  3.031465e-208
C(noise)             148.851875     3.0    25.484369   4.217957e-16
C(gender)            101.667734     1.0    52.218450   7.682645e-13
C(emg):C(noise)        7.431875     3.0     1.272383   2.822888e-01
C(emg):C(gender)      10.006824     1.0     5.139692   2.351882e-02
C(gender):C(noise)     4.369716     3.0     0.748123   5.234333e-01
Residual            3089.840726  1587.0          NaN            NaN

In [8]:
model = ols('score ~ C(emg) + C(noise) + C(emg):C(noise) + C(gender) + C(emg):C(gender) + C(gender):C(noise)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

                       sum_sq      df            F         PR(>F)
C(emg)              11.021293     1.0  1248.033544  3.406124e-202
C(noise)             0.296809     3.0    11.203399   2.825221e-07
C(gender)            0.251731     1.0    28.505664   1.069571e-07
C(emg):C(noise)      0.020780     3.0     0.784352   5.026222e-01
C(emg):C(gender)     0.076426     1.0     8.654397   3.310045e-03
C(gender):C(noise)   0.009285     3.0     0.350479   7.888129e-01
Residual            14.014681  1587.0          NaN            NaN

In [9]:
model = ols('score ~ C(soa)', data=merged_df).fit()
sm.stats.anova_lm(model, typ=2)

             sum_sq      df           F         PR(>F)
C(soa)    10.218329     8.0  131.339272  3.521834e-169
Residual  15.472677  1591.0         NaN            NaN

In [10]:
model = ols('score ~ C(soa)', data=emg_df).fit()
sm.stats.anova_lm(model, typ=2)

            sum_sq     df          F        PR(>F)
C(soa)    1.882600    8.0  20.857428  7.631642e-29
Residual  8.924499  791.0        NaN           NaN

In [11]:
model = ols('score ~ C(soa)', data=stick_df).fit()
sm.stats.anova_lm(model, typ=2)

            sum_sq     df         F        PR(>F)
C(soa)    0.226715    7.0  7.054975  3.471018e-08
Residual  3.635899  792.0       NaN           NaN

In [12]:
model = ols('soa ~ C(BN) + C(noise) + C(BN):C(noise)', data=emg_df).fit()
sm.stats.anova_lm(model, typ=2)

                 sum_sq     df          F        PR(>F)
C(BN)             99.72    3.0  12.679369  4.240336e-08
C(noise)          56.35    3.0   7.164886  9.481748e-05
C(BN):C(noise)    13.09    9.0   0.554797  8.343502e-01
Residual        2055.32  784.0        NaN           NaN

In [13]:
model = ols('soa ~ C(BN) + C(noise) + C(BN):C(noise)', data=stick_df).fit()
sm.stats.anova_lm(model, typ=2)

                   sum_sq     df          F        PR(>F)
C(BN)            58.24375    3.0  15.751871  5.911567e-10
C(noise)         99.93375    3.0  27.026824  1.220214e-16
C(BN):C(noise)   13.21125    9.0   1.190983  2.972934e-01
Residual        966.30000  784.0        NaN           NaN

c:\Users\Sarah\anaconda3\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.4.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

Homoscedasticity, or homogeneity of variances, is an assumption of equal or similar variances in different groups being compared. This is an important assumption of parametric statistical tests because they are sensitive to any dissimilarities. Uneven variances in samples result in biased and skewed test results.

In [14]:
pg.homoscedasticity(data=merged_df , dv = 'soa', group = 'noise' , method='levene')

               W      pval  equal_var
levene  0.558476  0.642489       True

In [15]:
pg.homoscedasticity(data=merged_df , dv = 'soa', group = 'emg' , method='levene')

                W          pval  equal_var
levene  102.20358  2.477759e-23      False

If the p-value is less than 0.05, we can reject the null hypothesis and conclude that there is a statistically significant difference for noise levels.

Tukey post hoc test for between noise levels
True - signficant
p-value is adjusted fro multiple comparisons

In [16]:
test = pairwise_tukeyhsd(endog=merged_df['soa'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.1225  0.7977 -0.4674  0.2224   False
1     0.0     0.2   -0.3725  0.0283 -0.7174 -0.0276    True
2     0.0     0.3   -0.7975  0.0000 -1.1424 -0.4526    True
3     0.1     0.2   -0.2500  0.2440 -0.5949  0.0949   False
4     0.1     0.3   -0.6750  0.0000 -1.0199 -0.3301    True
5     0.2     0.3   -0.4250  0.0085 -0.7699 -0.0801    True

In [17]:
test = pairwise_tukeyhsd(endog=merged_df['score'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

c:\Users\Sarah\anaconda3\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.0021  0.9954 -0.0250  0.0208   False
1     0.0     0.2   -0.0173  0.2120 -0.0402  0.0056   False
2     0.0     0.3   -0.0339  0.0009 -0.0568 -0.0109    True
3     0.1     0.2   -0.0152  0.3217 -0.0381  0.0077   False
4     0.1     0.3   -0.0318  0.0021 -0.0547 -0.0088    True
5     0.2     0.3   -0.0166  0.2462 -0.0395  0.0064   False

In [18]:
test = pairwise_tukeyhsd(endog=merged_df['score'], groups=merged_df['noise'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0     0.0     0.1   -0.0021  0.9954 -0.0250  0.0208   False
1     0.0     0.2   -0.0173  0.2120 -0.0402  0.0056   False
2     0.0     0.3   -0.0339  0.0009 -0.0568 -0.0109    True
3     0.1     0.2   -0.0152  0.3217 -0.0381  0.0077   False
4     0.1     0.3   -0.0318  0.0021 -0.0547 -0.0088    True
5     0.2     0.3   -0.0166  0.2462 -0.0395  0.0064   False

In [19]:
condition1 = ((merged_df['emg'] == 1) & (merged_df['BN'].isin([1, 3]))) | \
             ((merged_df['emg'] == 0) & (merged_df['BN'].isin([2, 4])))
condition1_df = merged_df[condition1]

In [20]:
condition2 = ((merged_df['emg'] == 0) & (merged_df['BN'].isin([1, 3]))) | \
             ((merged_df['emg'] == 1) & (merged_df['BN'].isin([2, 4])))
condition2_df = merged_df[condition2]

In [21]:
model = ols('soa ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition1_df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq     df           F         PR(>F)
C(noise)          92.13375    3.0   14.322198   4.302306e-09
C(BN)           1437.39375    3.0  223.442961  9.774992e-105
C(noise):C(BN)    17.58125    9.0    0.911002   5.148413e-01
Residual        1681.14000  784.0         NaN            NaN

In [22]:
model = ols('soa ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition2_df).fit()
sm.stats.anova_lm(model, typ=2)

                  sum_sq     df           F         PR(>F)
C(noise)          63.345    3.0   12.349427   6.719460e-08
C(BN)           1147.645    3.0  223.739178  7.696215e-105
C(noise):C(BN)     9.525    9.0    0.618982   7.815002e-01
Residual        1340.480  784.0         NaN            NaN

In [23]:
model = ols('score ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition1_df).fit()
sm.stats.anova_lm(model, typ=2)

                  sum_sq     df           F         PR(>F)
C(noise)        0.166175    3.0    7.080985   1.066144e-04
C(BN)           6.504349    3.0  277.161008  1.327899e-122
C(noise):C(BN)  0.048240    9.0    0.685197   7.227886e-01
Residual        6.132909  784.0         NaN            NaN

In [24]:
model = ols('score ~ C(noise) + C(BN) + C(noise):C(BN)', data=condition2_df).fit()
sm.stats.anova_lm(model, typ=2)

                  sum_sq     df           F        PR(>F)
C(noise)        0.150731    3.0    4.954430  2.059129e-03
C(BN)           4.638855    3.0  152.476373  7.729636e-78
C(noise):C(BN)  0.032988    9.0    0.361434  9.530585e-01
Residual        7.950657  784.0         NaN           NaN

In [25]:
test = pairwise_tukeyhsd(endog=condition1_df['soa'], groups=condition1_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2     2.620 -0.0000  2.2338  3.0062    True
1       1       3    -0.420  0.0268 -0.8062 -0.0338    True
2       1       4     2.265 -0.0000  1.8788  2.6512    True
3       2       3    -3.040 -0.0000 -3.4262 -2.6538    True
4       2       4    -0.355  0.0844 -0.7412  0.0312   False
5       3       4     2.685 -0.0000  2.2988  3.0712    True

In [26]:
test = pairwise_tukeyhsd(endog=condition2_df['soa'], groups=condition2_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj  lower  upper  reject
0       1       2    -2.175 -0.0000 -2.518 -1.832    True
1       1       3     0.440  0.0055  0.097  0.783    True
2       1       4    -2.135 -0.0000 -2.478 -1.792    True
3       2       3     2.615 -0.0000  2.272  2.958    True
4       2       4     0.040  0.9906 -0.303  0.383   False
5       3       4    -2.575 -0.0000 -2.918 -2.232    True

In [27]:
test = pairwise_tukeyhsd(endog=condition1_df['score'], groups=condition1_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2    0.1877 -0.0000  0.1647  0.2107    True
1       1       3    0.0190  0.1452 -0.0040  0.0420   False
2       1       4    0.1910 -0.0000  0.1680  0.2140    True
3       2       3   -0.1687 -0.0000 -0.1917 -0.1457    True
4       2       4    0.0033  0.9826 -0.0197  0.0263   False
5       3       4    0.1720 -0.0000  0.1490  0.1950    True

In [28]:
test = pairwise_tukeyhsd(endog=condition2_df['score'], groups=condition2_df['BN'], alpha=0.05)

tukey_data = pd.DataFrame(data=test._results_table.data[1:], columns=test._results_table.data[0])
tukey_data

   group1  group2  meandiff   p-adj   lower   upper  reject
0       1       2   -0.1573 -0.0000 -0.1833 -0.1312    True
1       1       3   -0.0012  0.9994 -0.0273  0.0248   False
2       1       4   -0.1483 -0.0000 -0.1743 -0.1223    True
3       2       3    0.1560 -0.0000  0.1300  0.1821    True
4       2       4    0.0090  0.8112 -0.0170  0.0350   False
5       3       4   -0.1471 -0.0000 -0.1731 -0.1210    True